body {
  /*width: 1920px;*/
  /*max-width: 1920px;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*font-family: "PT Sans", "Arial", sans-serif;*/
  font-size: 14px;
  /*font-weight: normal;*/
  /*line-height: 21px;*/
  /*color: #000000;*/
  /*background: url("../img/background.jpg") no-repeat;*/
}

/*.container {*/
  /*position: relative;*/
  /*!*width: 1200px;*!*/
  /*margin: 0 auto;*/
  /*padding: 0;*/
  /*background: #ffffff;*/
  /*box-shadow: 0 5px 15px rgba(0,1,1,0.2);*/
/*}*/

.header {
  margin: 0 auto;
  padding: 0;
  background: url("../img/heder_background.jpg") no-repeat;
}

.screen1 {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*height: 694px;*/
  /*width: 100%;*/
}

.screen1__slogan {
  z-index: 5;
}

.screen1__slogan h1{
  font-size: 3.22rem;
  line-height: 3.58rem;
  z-index: 5;
  margin-bottom: 35px;
}

.screen1__offer {
  font-size: 1.58rem;
  line-height: normal;
}

/*.screen2 {*/
  /*margin:0 auto;*/
/*}*/

.screen2__caption {
  font-size: 3.22rem;
  line-height: normal;
  text-transform: uppercase;
}

.screen2__offer {
  font-size: 1.29rem;
  line-height: normal;
  text-align: center;
}

.draganddrop {
  font-size: 1.58rem;
  line-height: normal;
}

.screen3__caption {
  font-size: 4.29rem;
  line-height: normal;
}

.screen3__offer {
  font-size: 1.29rem;
  line-height: normal;
}

.screen4__caption {
  font-size: 3.22rem;
  line-height: normal;
}

.range__caption {
  font-size: 1.43rem;
  line-height: normal;
}

.range__description {
  font-size: 1.15rem;
  line-height: normal;
}

.screen5__caption {
  font-size: 3.22rem;
  line-height: normal;
}

.screen5__search__input {
  font-size: 1.15rem;
  line-height: normal;
}

.map__class {
  height: 750px;
  margin: 0 auto;
  padding: 0;
  background: url("../img/map.jpg") no-repeat;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer__copyright {
  font-size: 1.15rem;
  line-height: normal;
}

.footer-contact {
  display: flex;
}

.footer__number {
  font-size: 1.58rem;
  line-height: normal;
}

.footer__developer {
  font-size: 1.15rem;
  line-height: normal;
}

.section {
  /*height: 100vh;*/
}

.line {
  margin: 125px auto 76px auto;
  text-align: center;
  position: relative;
}

.line:after {
  content: '';
  position: absolute;
  width: 135px;
  height: 6px;
  display: block;
  background: #ffde00;
  bottom: -1.78rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

.section__content {}

.section_first {
  background: url("../img/heder_background.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
}

.screen1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}
.screen1__logo {
  padding-top: 5vh;
  z-index: 3;
}

.screen1__scroll {
  padding-bottom: 5vh;
  z-index: 3;
}

.screen1__dish {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-40%);
  z-index: 1;
  animation: animUp 1s ease;
  animation-fill-mode:forwards;
  width: 50vw;
  height: 50vw;
  background: url("../img/header_dener.png") no-repeat;
  background-size: contain;
  background-position: center bottom;
}

@-webkit-keyframes animUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

a {
  color: #f8f810;
  text-decoration: underline;
}

a:hover {
  color: #f8f810;
  text-decoration: underline;
}

.screen2__animation {
  display: flex;
}

.screen2__animation_left {
  /*height: 70vh;*/
}

.screen2__animation_right {
  /*height: 70vh;*/
  /*text-align: center;*/
  /*margin: auto 0;*/
}

.description {
  height: 300px;
}

.description__block {
  text-align: center;
}

.screen2__animation__img {
  display: flex;
  width: 575px;
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease;
}

.screen2__animation__img.active {
  opacity: 1;
  height: auto;
  transition: opacity 0.3s ease 0.3s;
}

.screen2__animation__motor {
  position: relative;
  width: 100%;
  display: flex;
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease;
}

.screen2__animation__motor.active {
  opacity: 1;
  height: auto;
  transition: opacity 0.3s ease 0.3s;
}

.description__background {
  position: absolute;
  top: 30%;
  left: -11%;
  font-size: 11rem;
  transform: translateX(15%);
  opacity: 0.2;
  z-index: 1;
}

.description__background1 {
  position: absolute;
  top: 30%;
  left: -10%;
  font-size: 11rem;
  transform: translateX(23%);
  opacity: 0.2;
  z-index: 1;
}

.description__element {
  z-index: 2;
  width: 390px;
  height: 300px;
  font-size: 1.57rem;
  position: absolute;
  top: 40%;
  left: 24%;
  transform: translateY(40%);
}

.rangeslider {
  position: static !important;
}

.rangeslider__handle {
  width: 70px !important;
  height: 70px !important;
  top: -35px !important;
  content: url("../img/clicker.png") !important;
  z-index: 5;
}

.rangeslider__fill {
  border-top: 1px solid #191919;
  /*top: -2px !important;*/
}

.input .rangeslider--horizontal {
  height: 1px;
  border-top: 1px dashed black;
  /*width: calc(100% - 70px);*/
  /*margin-left: 35px;*/
}

.input {
  position: relative;
  width: 485px;
  padding-top: 30px;
  padding-left: 70px;
}

.inputRange {
  position: absolute;
  z-index: 3;
  bottom: -10px;
  transform: translateY(-50%);
  /*width: calc(100% - 70px);*/
  /*margin-left: 35px;*/
  width: 485px;
  display: flex;
  justify-content: space-between;

}

.pointer {
  z-index: 10;
}

.screen2__container {
}

.circle__before {
  width: 10px;
  height: 10px;
  background: #8c8c8c;
  border-radius: 5px;
}

.circle__after {
  width: 10px;
  height: 10px;
  background: #191919;
  border-radius: 5px;
}

.circle__dashed_in {
  position: absolute;
  bottom: 8px;
  left: 8px;
  /*transform: translateX(-50%);*/
  /*transform: translateY(-50%);*/
  width: 10px;
  height: 10px;
  background: none;
  border-radius: 5px;
  border-color: #8c8c8c;
  border-style: dashed;
}

.circle__dashed_out {
  position: relative;
  width: 28px;
  height: 28px;
  background: none;
  border-radius: 14px;
  border-color: #8c8c8c;
  border-style: dashed;
}

.line__dashed {
  content: '';
  display: block;
  border-top: 1px dashed #8c8c8c;
  height: 1px;
  width: 20px;
}

.line__solid {
  content: '';
  display: block;
  border-top: 1px solid #191919;
  height: 1px;
  width: 20px;
}

.swiper-container {
  height: 100vh;
  width: 100vw;
  background: #f1f1f1;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #f8f810;
}

.range__block6 {
  height: 70vh;
  background: #f1f1f1;
}

.range__elem3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen4__dener__animation {
  height: 20vh;
}

.section_five {
  background: #dfdfdf;
}

.range__elem2 {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.range.active .range__elem2 {
  opacity: 1;
  transition: opacity 0.6s ease 0.6s;
}

.range__elem3 {
  height: 0;
  opacity: 0;
}

.range__elem3.active {
  height: 100%;
  opacity: 1;
  transition: opacity 0.9s ease;
}
