body {
  /*width: 1920px;*/
  /*max-width: 1920px;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*font-family: "PT Sans", "Arial", sans-serif;*/
  font-size: 14px;
  /*font-weight: normal;*/
  /*line-height: 21px;*/
  /*color: #000000;*/
  /*background: url("../img/background.jpg") no-repeat;*/
}

/*.container {*/
  /*position: relative;*/
  /*!*width: 1200px;*!*/
  /*margin: 0 auto;*/
  /*padding: 0;*/
  /*background: #ffffff;*/
  /*box-shadow: 0 5px 15px rgba(0,1,1,0.2);*/
/*}*/

.header {
  margin: 0 auto;
  padding: 0;
  background: url("../img/heder_background.jpg") no-repeat;
}

.screen1 {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*height: 694px;*/
  /*width: 100%;*/
}

.slogan {
  font-size: 3.22rem;
  line-height: 3.58rem;
}

.offer {
  font-size: 1.58rem;
  line-height: normal;
}

/*.screen2 {*/
  /*margin:0 auto;*/
/*}*/

.screen2__caption {
  /*margin:0 auto;*/
  font-size: 3.22rem;
  line-height: normal;
}

.screen2__offer {
  /*margin:0 auto;*/
  font-size: 1.29rem;
  line-height: normal;
}

.draganddrop {
  font-size: 1.58rem;
  line-height: normal;
}

.screen3__caption {
  font-size: 4.29rem;
  line-height: normal;
}

.screen3__offer {
  font-size: 1.29rem;
  line-height: normal;
}

.screen4__caption {
  font-size: 3.22rem;
  line-height: normal;
}

.range__caption {
  font-size: 1.43rem;
  line-height: normal;
}

.range__description {
  font-size: 1.15rem;
  line-height: normal;
}

.screen5__caption {
  font-size: 3.22rem;
  line-height: normal;
}

.screen5__search__input {
  font-size: 1.15rem;
  line-height: normal;
}

.map__class {
  height: 750px;
  margin: 0 auto;
  padding: 0;
  background: url("../img/map.jpg") no-repeat;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer__copyright {
  font-size: 1.15rem;
  line-height: normal;
}

.footer-contact {
  display: flex;
}

.footer__number {
  font-size: 1.58rem;
  line-height: normal;
}

.footer__developer {
  font-size: 1.15rem;
  line-height: normal;
}

.section {
  /*height: 100vh;*/
}



.line {
  margin: 125px auto 76px auto;
  text-align: center;
  position: relative;
}

.line:after {
  content: '';
  position: absolute;
  width: 135px;
  height: 6px;
  display: block;
  background: #ffde00;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

.section__content {}

.section_first {
  background: url("../img/heder_background.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
}

.screen1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}
.screen1__logo {
  padding-top: 5vh;
  z-index: 3;
}

.screen1__slogan   {
  z-index: 3;
}

.screen1__scroll {
  padding-bottom: 5vh;
  z-index: 3;
}

.screen1__dish {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-40%);
  z-index: 1;
  animation: animUp 1s ease;
  animation-fill-mode:forwards;
  width: 50vw;
  height: 50vw;
  background: url("../img/header_dener.png") no-repeat;
  background-size: contain;
  background-position: center bottom;
}

@-webkit-keyframes animUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

a {
  color: #f8f810;
  text-decoration: underline;
}

a:hover {
  color: #f8f810;
  text-decoration: underline;
}

.screen2__animation {
  display: flex;
}

.screen2__container {
  text-align: center;
}

.screen2__producer {
  display: flex;
  align-items: center;
}

.circle__after {
  width: 10px;
  height: 10px;
  background: #191919;
  border-radius: 5px;
}

.circle__before {
  width: 10px;
  height: 10px;
  background: #8c8c8c;
  border-radius: 5px;
}

.circle__dashed_in {
  position: absolute;
  bottom: 8px;
  left: 8px;
  /*transform: translateX(-50%);*/
  /*transform: translateY(-50%);*/
  width: 10px;
  height: 10px;
  background: none;
  border-radius: 5px;
  border-color: #8c8c8c;
  border-style: dashed;
}

.circle__dashed_out {
  position: relative;
  width: 28px;
  height: 28px;
  background: none;
  border-radius: 14px;
  border-color: #8c8c8c;
  border-style: dashed;
}

.line__dashed {
  content: '';
  display: block;
  border-top: 1px dashed black;
  height: 1px;
  width: 20px;
}

.line__solid {
  content: '';
  display: block;
  border-top: 1px solid black;
  height: 1px;
  width: 20px;
}




.screen4__dener__animation {
  height: 20vh;
}

.section_five {
  background: #dfdfdf;
}